section {
  height: 100vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section > * {
  max-width: 1100px;
  width: 100%;
}

.section-title {
  margin-bottom: var(--space-md);
}

.footer {
  margin-top: var(--space-lg);
}

.experience-container,
.skills-container,
.projects-container {
  margin-bottom: var(--space-xl);
}